<div class="row mt-2" [formGroup]="resetFormValues">
  <div class="col-6 m-auto">
    <div class="card m-auto loginFormCss ms-md-5 card shadow-lg rounded">
      <div
        class="card-header h4 text-center text-light bg-primary p-1 text-center ps-2"
      >
        Reset Password
      </div>
      <div class="card-body">
        <div class="col-sm">
          <div class="input-group form-floating m-1">
            <input
              [type]="show ? 'text' : 'password'"
              placeholder=""
              class="form-control form-control-sm"
              formControlName="password"
              [ngClass]="{
                'is-invalid':
                  resetFormControls['password'].touched &&
                  resetFormControls['password'].errors
              }"
              title="Password should be atleast 8 characters long and should contain one number,one character and one special character"
            />
            <label class="fw-bold" class="floatLabel"
              >Password<span class="text-danger">*</span></label
            >
            <button
              type="button"
              class="input-group-text"
              (click)="showPassword()"
            >
              <fa-icon [icon]="show ? faEye : faEyeSlash"></fa-icon>
            </button>
          </div>
          <small
            class="text-danger text-center"
            *ngIf="
            resetFormControls['password'].touched &&
            resetFormControls['password'].errors?.['required']
            "
          >
            Please enter Password
          </small>
          <small
            class="text-danger text-center"
            *ngIf="
            resetFormControls['password'].touched &&
            resetFormControls['password'].errors?.['pattern']
            "
          >
            Password should be atleast 8 characters long and should contain one
            number,one character and one special character
          </small>
        </div>
        <div class="col-sm">
          <div class="input-group form-floating m-1">
            <input
              [type]="showC ? 'text' : 'password'"
              class="form-control form-control-sm"
              placeholder=""
              formControlName="confirmPassword"
              [ngClass]="{
                'is-invalid':
                  resetFormControls['confirmPassword'].touched &&
                  resetFormControls['confirmPassword'].errors
              }"
            />
            <label class="fw-bold" class="floatLabel"
              >Confirm Password
              <span class="text-danger">*</span>
            </label>
            <button
              type="button"
              class="input-group-text"
              (click)="showConfirmPassword()"
            >
              <fa-icon [icon]="showC ? faEye : faEyeSlash"></fa-icon>
            </button>
          </div>
          <small
            class="text-danger text-center"
            *ngIf="
            resetFormControls['confirmPassword'].touched &&
            resetFormControls['confirmPassword'].errors?.['required']
            "
          >
            Please enter Confirm Password
          </small>
          <small
            class="text-danger"
            *ngIf="
              resetFormControls['confirmPassword'].touched &&
              resetFormControls['confirmPassword'].errors?.['mustMatch']
              "
          >
            Password and confirm Passwords don't match
          </small>
        </div>
      </div>

      <div class="card-footer text-center">
        <button
          type="submit"
          class="btn btn-primary btn-sm"
          [disabled]="!resetFormValues.valid"
          (click)="resetPassword()"
        >
          Confirm
          <fa-icon [icon]="faCheckCircle"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
