<div class="p-2 pb-1">
  <div class="text-primary h4 mb-0">Customer Details</div>
  <!-- <p class="text-secondary m-0 mt-1">Enter the required* details and save</p> -->
</div>
<div class="card shadow-sm" [formGroup]="customerDetailsForm">
  <div class="border-bottom text-center p-2">
    <div class="row">
      <div class="col-md-2">
        <div class="form-floating">
          <input
            type="search"
            class="form-control form-control-sm"
            placeholder="Search here"
            #searchInput
            id="searchInput"
            formControlName="searchInput"
            (input)="filterData()"
            autocomplete="off"
          />
          <label for="searchInput" class="floatLabel">Search </label>
        </div>
      </div>
      <div class="col-md"></div>
      <div class="col-md-2 text-md-end mt-1">
        <button
          routerLink="/{{ role }}/createEditCustomerDetails"
          class="btn btn-sm btn-primary"
        >
          Create <fa-icon [icon]="faCirclePlus"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body p-2 pb-0">
    <div class="table-responsive rounded-1 table-resp" [style]="tableHeight">
      <table class="table table-hover table-bordered table-sm mb-1">
        <thead
          class="rowgroup bg-primary border-light text-white adminScrollWithIn"
        >
          <tr>
            <th scope="col" class="w-auto text-nowrap">Edit</th>
            <th scope="col" class="w-auto text-nowrap">Company Name</th>
            <th scope="col" class="w-auto text-nowrap">Erp Type</th>
            <th scope="col" class="w-auto text-nowrap">Subscription Date</th>
            <th scope="col" class="w-auto text-nowrap">License Start Date</th>
            <th scope="col" class="w-auto text-nowrap">License End Date</th>
            <th scope="col" class="w-auto text-nowrap">Status</th>
          </tr>
        </thead>
        <tbody class="table-group">
          <tr
            *ngFor="
              let customer of clientInfoListTemp | paginate : paginationConfig
            "
          >
            <td scope="row" class="text-center">
              <button
                class="btn btn-primary btn-sm"
                (click)="createEditCustomer(customer.clientId)"
              >
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
            </td>
            <td>{{ customer.companyName }}</td>
            <td>{{ customer.erpType }}</td>
            <td>{{ customer.subscriptionDate | date : "yyyy-MM-dd" }}</td>
            <td>{{ customer.licenseStartDate | date : "yyyy-MM-dd" }}</td>
            <td>{{ customer.licenseEndDate | date : "yyyy-MM-dd" }}</td>
            <td>
              <div
                *ngIf="customer.status == 'Y'; else isInActive"
                class="text-primary"
              >
                ACTIVE
              </div>
              <ng-template #isInActive
                ><span class="text-danger">INACTIVE</span></ng-template
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-center">
    <div class="row mt-2 m-1">
      <div class="col-md-1">
        <div class="form-floating ms-1">
          <select
            class="form-select form-select-sm fw-bold"
            (change)="showNoOfRows()"
            name="changeRows"
            id="changeRows"
            formControlName="changeRows"
          >
            <option
              *ngFor="let option of listPerPage; trackBy: trackByFn"
              [value]="option"
            >
              {{ option }}
            </option>
          </select>
          <label for="loggerMode" class="floatLabel">Rows </label>
        </div>
      </div>
      <div class="col-md-9 p-0 table-responsive rounded-1">
        <pagination-controls
          (pageChange)="onPageChange($event)"
        ></pagination-controls>
      </div>
      <div class="col-md-2">
        <div class="fw-bold">Total Rows: {{ clientInfoList.length }}</div>
      </div>
    </div>
  </div>
</div>
