.infoCss {
  line-height: 0;
  font-size: 22px;
  cursor: pointer;
}
.infoCss:hover {
  line-height: 0;
  cursor: pointer;
  color: darkblue !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
.faButtons {
  /* padding: 2px 6px 2px 6px; */
  z-index: 0 !important;
}
html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
.custom-bg:hover {
  background-color: darkblue;
  color: white;
}
.nav-pills .nav-item .nav-link {
  padding: 0.25rem 0.5rem; /* Adjust the padding values as needed */
}
.table-bordered-costom th {
  border: 1px solid #6e7191;
  border-top: 0px;
  border-bottom: 1px solid #6e7191 !important;
  border-left: none;
  background-color: #a2d9ef !important;
  color: black !important;
}
.table-bordered-costom {
  border-collapse: collapse;
  /* border-color: white !important; */
}
.table-sm > :not(caption) > * > * {
  padding: 0.2rem 0.2rem;
}
.table-resp {
  border: 1px solid #6e7191 !important;
  border-radius: 10px;
  color: #697095 !important;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.table > thead {
  vertical-align: bottom;
}
.table th {
  font-weight: 700;
}
.table-head {
  background-color: #e3f7ff !important;
}
.table {
  margin-bottom: 0rem !important;
  color: #495057;
}

.table > :not(caption) > * > * {
  /* padding: 2px 2px 0 2px; */
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  -webkit-box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.border-dark {
  --bs-border-opacity: 0.2;
  border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
}
.form-control-sm,
.form-select-sm {
  height: calc(1.5em + 0.5rem + 2px) !important;
  padding: 0.25rem 0.5rem !important;
  font-size: 0.72094rem !important;
  border-radius: 0.2rem !important;
}
.table-controls {
  width: 100% !important;
}
.form-check-input{
  padding: 6px;
  position: relative;
  bottom: 2px;
}
.text-success {
  color: #34c38f !important;
}
.costs {
  height: 40px !important;
  padding: 10px 0 0 8px !important;
}
.costsBtn {
  position: relative;
  bottom: 5px;
}

@media (max-width: 767px) and (orientation: portrait) {
  .table-controls {
    width: 100px !important;
  }
}

@media (max-width: 575px) and (orientation: portrait) {
  .table-controls {
    width: 100px !important;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1679px) {
  .form-control-sm,
  .form-select-sm {
    height: calc(1.8rem + 2px) !important;
    font-size: 0.85rem !important;
  }
  .table-head {
    height: 2rem;
    font-size: 1rem;
  }
  .table-sm > :not(caption) > * > * {
    padding: 0.2rem 0.2rem;
  }
}
@media screen and (min-width: 1680px) and (max-width: 1919px) {
  .form-control-sm,
  .form-select-sm {
    height: calc(2rem + 2px) !important;
    font-size: 0.95rem !important;
  }
  .table-head {
    height: 2.5rem;
    font-size: 1rem;
  }
  .table-sm > :not(caption) > * > * {
    padding: 0.3rem 0.3rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 2047px) {
  .table-head {
    height: 3.5rem;
    font-size: 1.5rem;
  }
  .form-control-sm,
  .form-select-sm {
    height: calc(3rem + 2px) !important;
    font-size: 1.2rem !important;
  }
  .table-sm > :not(caption) > * > * {
    padding: 0.25rem 0.25rem;
  }
}
