<div class="p-2">
  <div class="text-primary h4 mb-0">Package Dimensions</div>
</div>
<div [formGroup]="packageDimensionsForm" novalidate autocomplete="off">
  <div class="card shadow-sm">
    <div class="p-1">
      <div class="row">
        <div class="col-md-2" [hidden]="!showCustomerList">
          <div class="form-floating m-1">
            <select
              name="clientId"
              id="clientId"
              class="form-select-sm form-select"
              formControlName="clientId"
              #clientIds
              (change)="showOrgId(clientIds.value)"
              [ngClass]="{
                'is-invalid':
                  packageDimensionsFormControls['clientId'].touched &&
                  packageDimensionsFormControls['clientId'].errors
              }"
            >
              <option [defaultSelected]="true" value="">---Select---</option>
              <option
                *ngFor="let clients of customerNamesList"
                [value]="clients.CLIENT_ID"
              >
                {{ clients.COMPANY_NAME }}
              </option>
            </select>
            <label class="floatLabel" for="clientId" class="floatLabel">
              Customer Name<span class="text-danger">*</span>
            </label>
            <small
              class="text-danger text-center"
              *ngIf="packageDimensionsFormControls['clientId'].touched && packageDimensionsFormControls['clientId'].errors?.['required']"
            >
              Please select Customer Name
            </small>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating m-1">
            <select
              name="orgId"
              class="form-select form-select-sm select"
              id="orgId"
              formControlName="orgId"
              #orgId
              [ngClass]="{
                'is-invalid':
                  packageDimensionsFormControls['orgId'].touched &&
                  packageDimensionsFormControls['orgId'].errors
              }"
              (change)="showInvOrgId(orgId.value)"
            >
              <option [defaultSelected]="true" value="">---Select---</option>
              <option
                *ngFor="let orgId of orgIdList; trackBy: trackByFn"
                [value]="orgId.ORG_ID"
              >
                {{ orgId.ORG_NAME }}
              </option>
            </select>
            <label for="orgId" class="floatLabel">
              {{ orgIdNameLabel }}<span class="text-danger">*</span>
            </label>
            <small
              class="text-danger text-center"
              *ngIf="packageDimensionsFormControls['orgId'].touched && packageDimensionsFormControls['orgId'].errors?.['required']"
            >
              Please select {{ orgIdNameLabel }}
            </small>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating m-1">
            <select
              name="invOrgId"
              class="form-select form-select-sm select"
              id="invOrgId"
              formControlName="invOrgId"
              #invOrgId
              [ngClass]="{
                'is-invalid':
                  packageDimensionsFormControls['invOrgId'].touched &&
                  packageDimensionsFormControls['invOrgId'].errors
              }"
              (change)="showGoButton(orgId.value, invOrgId.value)"
            >
              <option [defaultSelected]="true" value="">---Select---</option>
              <option
                *ngFor="let invOrgId of invOrgIdList"
                value="{{ invOrgId.INV_ORG_ID }}"
              >
                {{ invOrgId.INV_ORG_NAME }}
              </option>
            </select>
            <label for="invOrgId" class="floatLabel">
              {{ invOrgIdNameLabel }}<span class="text-danger">*</span>
            </label>
            <small
              class="text-danger text-center"
              *ngIf="packageDimensionsFormControls['invOrgId'].touched && packageDimensionsFormControls['invOrgId'].errors?.['required']"
            >
              Please select {{ invOrgIdNameLabel }}
            </small>
          </div>
        </div>
        <div class="col-md mt-md-2">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            [disabled]="goED"
            (click)="
              getPackageDimensionDetailsList(
                clientId,
                orgId.value,
                invOrgId.value
              )
            "
          >
            Go
            <fa-icon [icon]="faCircleCheck"></fa-icon>
          </button>
          <button
            (click)="updatePackageDimensions(dimensionsInfoList)"
            type="button"
            [disabled]="goED"
            *ngIf="dimensionsInfoList.length > 0"
            class="btn btn-primary btn-sm ms-3"
          >
            Update
            <fa-icon [icon]="faArrowAltCircleUp"></fa-icon>
          </button>
        </div>
        <div class="col-md mt-md-2 text-md-end">
          <button
            class="btn btn-sm btn-primary me-2"
            data-bs-toggle="modal"
            data-bs-target="#packageDimensions"
            (click)="createEditPackageDimensionDetails(dimensionsInfo)"
          >
            Create New Dimension
            <fa-icon [icon]="faCirclePlus"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <div
      class="card-body p-2 pb-0 border-top"
      *ngIf="dimensionsInfoList.length > 0"
    >
      <div
        class="table-responsive rounded-1 table-resp"
        [style]="tableHeight"
        *ngIf="dimensionsInfoList.length > 0"
      >
        <table class="table table-hover table-bordered table-sm mb-1">
          <thead
            class="rowgroup bg-primary border-light text-white adminScrollWithIn"
          >
            <tr>
              <th scope="col" class="w-auto text-nowrap">Edit</th>
              <th scope="col" class="w-auto text-nowrap">Dimension Name</th>
              <th scope="col" class="w-auto text-nowrap">Length</th>
              <th scope="col" class="w-auto text-nowrap">Width</th>
              <th scope="col" class="w-auto text-nowrap">Height</th>
              <th scope="col" class="w-auto text-nowrap">Units</th>
              <th scope="col" class="w-auto text-nowrap">Weight</th>
              <th scope="col" class="w-auto text-nowrap">Weight Units</th>
              <th scope="col" class="w-auto text-nowrap">Active</th>
              <th scope="col" class="w-auto text-nowrap">Default</th>
              <th scope="col" class="w-auto text-nowrap">Handling Charges</th>
              <th scope="col" class="w-auto text-nowrap">Currency Code</th>
            </tr>
          </thead>
          <tbody class="table-group">
            <tr
              *ngFor="
                let packageDimensionDetails of dimensionsInfoList
                  | paginate : paginationConfig
              "
            >
              <td scope="row" class="text-center">
                <button
                  class="btn btn-primary btn-sm"
                  data-bs-toggle="modal"
                  data-bs-target="#packageDimensions"
                  (click)="
                    createEditPackageDimensionDetails(packageDimensionDetails)
                  "
                >
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
              </td>
              <!-- Dimension Name -->
              <td>
                <div
                  *ngIf="
                    packageDimensionDetails.dimensionName != null;
                    else isInActive
                  "
                  class=""
                >
                  {{ packageDimensionDetails.dimensionName }}
                </div>
                <ng-template #isInActive
                  ><div class="text-center">--</div></ng-template
                >
              </td>
              <!-- Dimension Length -->
              <td>
                <div
                  *ngIf="
                    packageDimensionDetails.dimensionLength != null;
                    else isInActive
                  "
                  class=""
                >
                  {{ packageDimensionDetails.dimensionLength }}
                </div>
                <ng-template #isInActive
                  ><div class="text-center">--</div></ng-template
                >
              </td>
              <!-- Dimension Width -->
              <td>
                <div
                  *ngIf="
                    packageDimensionDetails.dimensionWidth != null;
                    else isInActive
                  "
                  class=""
                >
                  {{ packageDimensionDetails.dimensionWidth }}
                </div>
                <ng-template #isInActive
                  ><div class="text-center">--</div></ng-template
                >
              </td>
              <!-- Dimension Height -->
              <td>
                <div
                  *ngIf="
                    packageDimensionDetails.dimensionHeight != null;
                    else isInActive
                  "
                  class=""
                >
                  {{ packageDimensionDetails.dimensionHeight }}
                </div>
                <ng-template #isInActive
                  ><div class="text-center">--</div></ng-template
                >
              </td>
              <!-- Dimension Units -->
              <td>
                <div
                  *ngIf="
                    packageDimensionDetails.dimensionUnits != null;
                    else isInActive
                  "
                  class=""
                >
                  {{ packageDimensionDetails.dimensionUnits }}
                </div>
                <ng-template #isInActive
                  ><div class="text-center">--</div></ng-template
                >
              </td>
              <!-- Dimension Weight -->
              <td>
                <div
                  *ngIf="
                    packageDimensionDetails.dimensionWeight != null;
                    else isInActive
                  "
                  class=""
                >
                  {{ packageDimensionDetails.dimensionWeight }}
                </div>
                <ng-template #isInActive
                  ><div class="text-center"></div
                ></ng-template>
              </td>
              <!-- Weight Units -->
              <td>
                <div
                  *ngIf="
                    packageDimensionDetails.weightUnits != null;
                    else isInActive
                  "
                  class=""
                >
                  {{ packageDimensionDetails.weightUnits }}
                </div>
                <ng-template #isInActive
                  ><div class="text-center">--</div></ng-template
                >
              </td>
              <!-- CheckBox for Active/Inactive -->
              <td>
                <input
                  type="checkbox"
                  class="active"
                  [checked]="
                    packageDimensionDetails.orgDimensionsInfoList[0].dimActive
                  "
                  (change)="
                    updateActive(
                      packageDimensionDetails.orgDimensionsInfoList[0],
                      $event
                    )
                  "
                />
              </td>
              <!--RadioBox for Default -->
              <td>
                <input
                  type="radio"
                  name="default"
                  [checked]="
                    packageDimensionDetails.orgDimensionsInfoList[0].dimDefault
                  "
                  [disabled]="
                    !packageDimensionDetails.orgDimensionsInfoList[0].dimActive
                  "
                  (change)="
                    updateDefault(
                      packageDimensionDetails.orgDimensionsInfoList[0],
                      $event
                    )
                  "
                />
              </td>
              <!--handling charges-->
              <td>
                <input
                  type="text"
                  class="form-control table-inputs"
                  [value]="
                    packageDimensionDetails.orgDimensionsInfoList[0]
                      .handlingCharges
                  "
                  (input)="
                    updateHandlingCharges(
                      packageDimensionDetails.orgDimensionsInfoList[0],
                      $event
                    )
                  "
                />
              </td>
              <!--Currency Code-->
              <td>
                <select
                  class="form-select table-inputs"
                  (change)="
                    updateCurrencyCode(
                      packageDimensionDetails.orgDimensionsInfoList[0],
                      $event
                    )
                  "
                >
                  <option value="">--Select--</option>
                  <option
                    *ngFor="let currency of currencyCodesList"
                    [value]="currency.currencyCode"
                    [selected]="
                      currency.currencyCode ===
                      packageDimensionDetails.orgDimensionsInfoList[0]
                        .currencyCode
                    "
                  >
                    {{ currency.currencyCode }}
                  </option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer text-center" *ngIf="dimensionsInfoList.length > 0">
      <div class="row">
        <div class="col-md-1">
          <div class="form-floating ms-1">
            <select
              class="form-select form-select-sm fw-bold"
              (change)="showNoOfRows()"
              name="changeRows"
              id="changeRows"
              formControlName="changeRows"
            >
              <option
                *ngFor="let option of listPerPage; trackBy: trackByFn"
                [value]="option"
              >
                {{ option }}
              </option>
            </select>
            <label for="loggerMode" class="floatLabel">Rows </label>
          </div>
        </div>
        <div class="col-md-9">
          <pagination-controls
            (pageChange)="onPageChange($event)"
          ></pagination-controls>
        </div>
        <div class="col-md-2">
          <div class="fw-bold">
            No. of Rows: {{ dimensionsInfoList.length }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-create-package-dimensions
    [clientId]="clientId"
    [orgId]="orgIdVar"
    [invOrgId]="invOrgIdVar"
  >
    ></app-create-package-dimensions
  >
</div>
