<div
  class="container-fluid row mt-2"
  (ngSubmit)="changeUserPassword()"
  [formGroup]="changePasswordForm"
>
  <div class="col-md-6 m-auto">
    <div class="card m-auto">
      <div
        class="card-header h4 text-center text-light bg-primary p-1 text-center ps-2"
      >
        Change Password
      </div>
      <div class="card-body">
        <div class="col-sm m-3">
          <div class="form-floating">
            <input
              type="text"
              placeholder=""
              class="form-control form-control-sm"
              id="userName"
              formControlName="userName"
              readOnly="true"
            />
            <label for="userName" class="floatLabel">UserName</label>
          </div>
        </div>
        <div class="col-sm m-3">
          <div class="input-group">
            <div class="form-floating d-flex">
              <input
                [type]="showo ? 'text' : 'password'"
                class="form-control form-control-sm"
                formControlName="oldPassword"
                id="oldPassword"
                [ngClass]="{
                  'is-invalid':
                    changePasswordFormControls['oldPassword'].touched &&
                    changePasswordFormControls['oldPassword'].errors
                }"
                placeholder=""
              />
              <label for="oldPassword" class="floatLabel"
                >Old Password <span class="text-danger">*</span></label
              >
              <button
                type="button"
                class="input-group-text"
                (click)="showPassword('o')"
              >
                <fa-icon [icon]="showo ? faEye : faEyeSlash"></fa-icon>
              </button>
            </div>
          </div>
          <small
            class="text-danger ps-2"
            *ngIf="changePasswordFormControls['oldPassword'].touched &&
            changePasswordFormControls['oldPassword'].errors?.['required']"
          >
            Please enter Old Password
          </small>
        </div>

        <div class="col-sm m-3">
          <div class="input-group">
            <div class="form-floating d-flex">
              <input
                [type]="show ? 'text' : 'password'"
                class="form-control form-control-sm"
                placeholder=""
                formControlName="newPassword"
                id="newPassword"
                [ngClass]="{
                  'is-invalid':
                    changePasswordFormControls['newPassword'].touched &&
                    changePasswordFormControls['newPassword'].errors
                }"
                title="Password should be atleast 8 characters long and should contain one number,one uppercase,one lowercase and one special character"
              />
              <label for="newPassword" class="floatLabel"
                >New Password
                <span class="text-danger">*</span>
              </label>
              <button
                type="button"
                class="input-group-text"
                (click)="showPassword('n')"
              >
                <fa-icon [icon]="show ? faEye : faEyeSlash"></fa-icon>
              </button>
            </div>
          </div>
          <small
            class="text-danger ps-2"
            *ngIf="changePasswordFormControls['newPassword'].touched &&
            changePasswordFormControls['newPassword'].errors?.['required']"
          >
            Please enter New Password
          </small>
          <small
            class="text-danger ps-2"
            *ngIf="changePasswordFormControls['newPassword'].touched &&
            changePasswordFormControls['newPassword'].errors?.['pattern']"
          >
            Password should be atleast 8 characters long and should contain one
            number,one uppercase,one lowercase and one special character
          </small>
        </div>

        <div class="col-sm m-3">
          <div class="input-group">
            <div class="form-floating d-flex">
              <input
                [type]="showc ? 'text' : 'password'"
                class="form-control form-control-sm"
                placeholder=""
                formControlName="confirmNewPassword"
                id="confirmNewPassword"
                [ngClass]="{
                  'is-invalid':
                    changePasswordFormControls['confirmNewPassword'].touched &&
                    changePasswordFormControls['confirmNewPassword'].errors
                }"
              />
              <label for="confirmNewPassword" class="floatLabel"
                >Confirm Password
                <span class="text-danger">*</span>
              </label>
              <button
                type="button"
                class="input-group-text"
                (click)="showPassword('c')"
              >
                <fa-icon [icon]="showc ? faEye : faEyeSlash"></fa-icon>
              </button>
            </div>
          </div>
          <small
            class="text-danger ps-2"
            *ngIf="changePasswordFormControls['confirmNewPassword'].touched &&
            changePasswordFormControls['confirmNewPassword'].errors?.['required']"
          >
            Please enter Confirm Password
          </small>
          <small
            class="text-danger ps-2"
            *ngIf="changePasswordFormControls['confirmNewPassword'].touched &&
            changePasswordFormControls['confirmNewPassword'].errors?.['pattern']"
          >
            Password should be atleast 8 characters long and should contain one
            number,one uppercase,one lowercase and one special character
          </small>
          <small
            class="text-danger ps-2"
            *ngIf="
              changePasswordFormControls['confirmNewPassword'].touched &&
              changePasswordFormControls['confirmNewPassword'].errors?.['mustMatch']
              "
          >
            New Password and Confirm Passwords don't match
          </small>
        </div>
      </div>

      <div class="text-center card-footer">
        <button
          type="submit"
          class="btn btn-sm btn-primary mt-1 me-3"
          [disabled]="!changePasswordForm.valid"
          (click)="changeUserPassword()"
        >
          Confirm
          <fa-icon [icon]="faCheckCircle"></fa-icon>
        </button>
        <a
          type="button"
          routerLink="/{{ role }}"
          class="btn btn-sm btn-primary mt-1"
        >
          Close
          <fa-icon [icon]="faCircleXmark"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
